<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
  
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" routerLink="/login">Join Us!</a></li>
        <li><a class="text-muted" routerLink="/about">Team</a></li>
        <li><a class="text-muted" routerLink="/mission">Mission</a></li>
        <li><a class="text-muted" routerLink="/privacy">Privacy</a></li>
      </ul>
    </div>

  </div>

  <div class="col-6 col-md">
    
  </div>
</footer>