<div class="container marginTop">
    <p class="lead text-center">Say Hi to our newest members!</p>
        <div class="row">
                <div *ngFor="let creator of creatorList$ | async" class="col">
                  <div class="row">
                    <img [src]="creator.snippet.thumbnails.default.url" [routerLink]="['/creator', creator.uid]" class="rounded-circle"
                      alt="Creator Image">
                  </div>
                  <div>
                      <p class="text-center" [routerLink]="['/creator', creator.uid]">{{creator.snippet.title}}</p>
                  </div>
              
                </div>
              </div>
              
</div>
