/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* font face */
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./assets/fonts/proximanova-regular_2-webfont.woff') format('woff'), url('./assets/fonts/proximanova-regular_2-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('./assets/fonts/proximanova-semibold_2-webfont.woff') format('woff'), url('./assets/fonts/proximanova-semibold_2-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaA-Regular';
  src: url('./assets/fonts/Proxima-Nova-Alt-Regular-webfont.woff') format('woff'), url('./assets/fonts/Proxima-Nova-Alt-Regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* font face */

html {
  font-family: 'Proximanova-Regular' !important;
  font-size: 14px !important;
}

main {
  position: relative;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* .container {
  max-width: 960px;
} */

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.marginTop {
  margin-bottom: 20px;
}

a:hover {
  cursor: pointer;
}

/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
